main{
 width: 100%;
 min-height: 100vh;
}

.albums{
 padding: 100px 0 50px;
 max-width: 1170px;
 margin: 0 auto;
 color: #fff;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;

 .album{
    flex-basis: calc(100% / 4);
    margin-right: 1px; 
    margin-bottom: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #000;
    border-radius: 15px;
    .album-cover{
     width: 100%;
     margin-bottom: 20px;
    }
 }
}


  